/* start header */
header .navbar-collapse{
    flex-grow: 0;
  }
  header .navbar{
    justify-content: space-between;
    padding: 10px 18%;
  }
  header .navbar-dark{
    background-color: #212529;
  }
  /* end header */